script(src="client-js/enquete_client.js")
div#enq
    .title
        h2= __('menu')
    div.images!= imagesHTML
    .title
        h2= __('description')
    div#description!= description
    p
        form(method="post", action="/order", onsubmit="return isValidSendOrder()")
            .title
                h2= __('send')
            p(style="font-size: 130%;")
                input#myName(placeholder="#{__('name_hint')}", name="myName", size=15, value="#{myName}")
                span ，
                span#myOrder= myOrder
            p(style="font-size: 110%;")
                input#order(name="order" size=35 placeholder="#{__('order_hint')}")
            p
                input#send-order(type="submit", value="#{__('send')}")

    #imageView.normal
        img.normal
    #cover
        a#close(href="javascript:void(0);")= __('close')

    #no-name-hint.dialog= __('no_name_hint')
    #no-order-hint.dialog= __('no_order_hint')
