script(src="client-js/enquete_client.js")
div#enq
    h2= __('menu')
    div.images!= imagesHTML
    div#description(cols=70,rows=8)!= description
    #imageView
        img
    #cover
    form(method="post", action="/order", onsubmit="return isValidSendOrder()")
        h2
            input#myName(name="myName", size=10, value="#{myName}")
            span= myOrder
        input#order(name="order",size=35)
        span &nbsp;
        input#send-order(type="submit", value="#{__('send')}")