script(src="client-js/enquete_client.js")
div#enq
    h2= __('menu')
    div.images!= imagesHTML
    div#description(cols=70,rows=8)!= description
    #imageView.normal
        img.normal
    #cover
        a#close(href="javascript:void(0);")= __('close')
    form(method="post", action="/order", onsubmit="return isValidSendOrder()")
        h2
            input#myName(placeholder="請輸入名字", name="myName", size=10, value="#{myName}")
            span#myOrder= myOrder
        input#order(name="order",size=35)
        span &nbsp;
        input#send-order(type="submit", value="#{__('send')}")