script(src="client-js/orders_client.js")
.title
    h2= __('orders')
table(cellpadding=5)
    - each order, name in orders
        tr
            td= name
            td(contenteditable)= order
p
    button(onclick="refresh()")= __('refresh')
    span &emsp;
    button(onclick="clearOrders()")= __('clear_orders')

div#confirm-clear(title="#{__('confirm_clear_data')}")
    p
        span(class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;")
        span= __('clear_data_hint')
