script(src="client-js/orders_client.js")
style
    | th {text-align: left;}
div(style="display: inline-block;")
    .title
        h2= __('orders')
    table(cellpadding=2)
        tr
            th= __('delete')
            th= __('name')
            th= __('ordered')
            th= __('paid')
        - each order, name in orders
            tr
                td
                    input(type="checkbox" style="margin: 0;").delete-order
                td= name
                td.order(contenteditable)= (typeof order === 'string' ? order : order.order)
                td
                    input.paid(type="checkbox"
                    checked=(order.paid ? "checked" : undefined)
                    style="width: 17px; height: 17px; border-radius: 2px; border: 1px solid #555;")
div(style="display: inline-block; vertical-align: top; margin-left: 70px;")
    .title
        h2= __('prices')
    table(border=1)
        tr
            th= __('item')
            th= __('quantity')
            th= __('price')
        - each menu in orderColletion
            tr
                td.menu(contenteditable)= menu.name
                td.quantity(contenteditable)= menu.quantity
                td.price(contenteditable)= menu.price
p
    button(onclick="refresh()")= __('refresh')
    span &emsp;
    button(onclick="clearOrders()")= __('clear_orders')
    span &emsp;
    button(onclick="deleteSelectedOrders()")= __('delete_selected_orders')

div#confirm-clear(title="#{__('confirm_clear_data')}")
    p
        span(class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;")
        span= __('clear_data_hint')
