table#prices(border=1)
    tr
        th= __('item')
        th= __('quantity')
        th= __('price')
    - each menu in orderCollection
        tr
            td.menu= menu.name
            td.quantity= menu.quantity
            td.price(contenteditable="true")= menu.price
p
    span= __('total')
    span= total