div#prices
    table(border=1)
        tr
            th.editable-th= __('item')
            th= __('quantity')
            th.editable-th= __('price')
        - each menu in orderCollection
            tr
                td.menu(contenteditable="true")= menu.name
                td.quantity= menu.quantity
                td.price(contenteditable="true")= menu.price
    div(style="margin-top: 10px;")
        span= __('amount')
        span= amount
        span &emsp;
        span= __('total')
        span= total
